
[submodule ".vim/pack/bundle/opt/vim-lsc"]
	path = .vim/pack/bundle/opt/vim-lsc
	url = https://github.com/natebosch/vim-lsc
[submodule ".vim/pack/bundle/opt/vim-fugitive"]
	path = .vim/pack/bundle/opt/vim-fugitive
	url = https://tpope.io/vim/fugitive.git
[submodule ".vim/pack/bundle/opt/vim-floaterm"]
	path = .vim/pack/bundle/opt/vim-floaterm
	url = https://github.com/voldikss/vim-floaterm
[submodule ".vim/pack/bundle/opt/vim-airline"]
	path = .vim/pack/bundle/opt/vim-airline
	url = https://github.com/vim-airline/vim-airline
[submodule ".vim/pack/bundle/opt/vim-nerdtree"]
	path = .vim/pack/bundle/opt/vim-nerdtree
	url = https://github.com/preservim/nerdtree
[submodule ".vim/pack/bundle/opt/vim-fzf"]
	path = .vim/pack/bundle/opt/vim-fzf
	url = https://github.com/junegunn/fzf.vim
[submodule ".vim/pack/bundle/opt/vim-fzf-main"]
	path = .vim/pack/bundle/opt/vim-fzf-main
	url = https://github.com/junegunn/fzf
[submodule ".vim/pack/bundle/opt/vim-commentary"]
	path = .vim/pack/bundle/opt/vim-commentary
	url = https://github.com/tpope/vim-commentary
[submodule ".vim/pack/bundle/opt/vim-dispatch"]
	path = .vim/pack/bundle/opt/vim-dispatch
	url = https://github.com/tpope/vim-dispatch
[submodule ".vim/pack/bundle/opt/vim-gitgutter"]
	path = .vim/pack/bundle/opt/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter
[submodule ".vim/pack/bundle/opt/vim-gruvbox"]
	path = .vim/pack/bundle/opt/vim-gruvbox
	url = https://github.com/morhetz/gruvbox
[submodule ".vim/pack/bundle/opt/vim-bufexplorer"]
	path = .vim/pack/bundle/opt/vim-bufexplorer
	url = https://github.com/jlanzarotta/bufexplorer
